* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
html {
  font-size: 62.5%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.grid {
  display: grid;
}
.grid-col--2 {
  grid-template-columns: 1fr 1fr;
}

.button {
  border-radius: 0.5rem;
}
.button--outline {
  border: 2px solid #3789FF;
  background-color: transparent;
  color: #3789FF;
}
.button--primary {
  border: none;
  background-color: #3789FF;
  color: #FFFFFF;
}

.header {
  padding: 2.3rem 6.3rem 0 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5efff;
}
.header__logo {
  padding-right: 10%;
}
.header__logo img {
  height: 7.4rem;
}
.header__nav ul {
  display: flex;
  column-gap: 3rem;
}
.header__nav ul a {
  font-size: 1.8rem;
  color: #272D4E;
}
.header__cta {
  display: flex;
  column-gap: 2rem;
}
.header__cta__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 20rem;
  height: 4.7rem;
  border-radius: 5px;
}

.hamb-line {
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::after,
.hamb-line::before {
  background: #FFFFFF;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamburger .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamburger .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.side-menu:checked ~ .hamburger .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }

  .menu li {
    float: left;
  }

  .menu a:hover {
    background-color: transparent;
    color: var(--grey);
  }

  .hamb {
    display: none;
  }
}
.hero-section {
  height: auto;
  padding: 16rem 26.5rem 7rem 18.4rem;
  background-image: linear-gradient(to bottom, #e5efff, rgba(229, 239, 255, 0));
}
.hero-section--main {
  justify-items: flex-end;
  padding-bottom: 19rem;
}
.hero-section--main-text .heading {
  font-size: 8.5rem;
  font-weight: 700;
  color: #272D4E;
  padding-bottom: 2.9rem;
}
.hero-section--main-text .default-text {
  font-size: 1.8rem;
  font-weight: 500;
  color: #94A2B3;
  padding-bottom: 2rem;
}
.hero-section__cta {
  width: 26.7rem;
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
}
.hero-section__img-box {
  height: 48.3rem;
  width: 36.4rem;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0px 18px 52.85px 0px #A2ADC080;
  position: relative;
  z-index: 5;
}
.hero-section--secondary-text {
  text-align: center;
}
.hero-section--secondary-text h2 {
  font-size: 5.5rem;
  font-weight: 600;
  color: #272D4E;
  padding-bottom: 2.5rem;
}
.hero-section--secondary-text p {
  color: #94A2B3;
  font-size: 1.8rem;
  max-width: 107rem;
  margin: 0 auto;
}
.hero-section .dot-group1 {
  position: absolute;
  z-index: 4;
  top: 38%;
  left: 82.6%;
  width: 23.5rem;
}
.hero-section .dot-group2 {
  position: absolute;
  top: 30%;
  right: 15%;
  z-index: 2;
}
.hero-section .dot-group3 {
  width: 25rem;
  position: absolute;
  top: 15%;
  left: 73.5%;
  z-index: 3;
}
.hero-section .figma {
  position: absolute;
  width: 10rem;
  top: 33%;
  right: 34%;
  z-index: 5;
}
.hero-section .xd {
  position: absolute;
  width: 10rem;
  top: 33%;
  right: 10%;
  z-index: 5;
}
.hero-section .html {
  position: absolute;
  width: 10rem;
  top: 52%;
  right: 34%;
  z-index: 5;
}
.hero-section .java {
  position: absolute;
  width: 10rem;
  top: 18%;
  right: 10%;
}

/*# sourceMappingURL=style.css.map */
