.button {
    border-radius: .5rem;
    &--outline {
        border: 2px solid $color-primary;
        background-color: transparent;
        color: $color-primary;

    }
    &--primary {
        border: none;
        background-color: $color-primary;
        color: $color-white;
    }
}